@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    <!-- Your password has been reset. Please <a asp-action="Login">click here to log in</a>. -->
    Sua senha foi redefinida. Por favor <a asp-action="Login">clique aqui para entrar</a>.
    
</p>
