@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    First<br />
    São Paulo, SP 00000-000<br />
    <abbr title="Phone">F:</abbr>
    (11) 98715-2883 
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:willian.rattis@gmail.com">support@first.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:willian.rattis@gmail.com">marketing@fisrt.com</a>
</address>
