@model SAPP.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" /> -->
                <label asp-for="Tag" class="control-label"></label>
                <select asp-for="Tag" class ="form-control" asp-items="ViewBag.Tag"></select>
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
                <hr>           
                    <div class="form-group">
                        <input type="number" name="Pesos[0].Quilos"  placeholder="KG" class="form-control" />
                    </div>
                    <div class="form-group">
                        <fieldset disabled>
                           <input type="date" name="Pesos[0].DtPesagem"  value="@DateTime.Now.ToShortDateString()" class="form-control" />
                        </fieldset>
                    </div>
                <hr>
            <!-- <div class="form-group">
                <label asp-for="DtCompra" class="control-label"></label>
                <input asp-for="DtCompra" class="form-control" />
                <span asp-validation-for="DtCompra" class="text-danger"></span>
            </div> -->
            <!-- <div class="form-group">
                <label asp-for="DtVenda" class="control-label"></label>
                <input asp-for="DtVenda" class="form-control" />
                <span asp-validation-for="DtVenda" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

